 *,
*::before,
*::after {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
 
 
 
 body {
   
    background-size:cover;
    color:white;
      background-color:#15151f;
     padding:5px;
     align-content: center;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
  }
 
  #cart-container {
    width: 300px;
  }


h1 {
    margin: 10px auto;
    justify-items: center;
    font-size: 45px;

    ;
}
#mainContainer{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
}


#container {
    
  display:flex;
    flex-direction:column;
    background-color: black;
    color:white;
    padding:10px;
    max-width:500px;
    margin: 100px auto;
    box-shadow: 2;



}



form button {
    
    padding:8px;
    background-color:rgb(61, 107, 236);
    border:2px solid white;
    margin-top: 3px;
    font-size: 15px;
    border-radius: 15px;
    cursor:pointer;

} 



img {
    width:310px;
    height:360px;
    object-fit: cover;
    background-size: cover;
    box-shadow: 5px 5px 10px 2px black;
    margin-top:5px;
    margin-bottom: 3px;
    
}



@media (min-width: 768px) {
  #dessert-card-container {
    flex-direction: row;
  }

  .dessert-card {
    flex: 1 0 21%;
  }

  #cart-container {
    width: 300px;
  }
}




textarea {
  width:250px;
  height:350px;
 color:black;
 
}




#cart-container {
  display:none;

  position: fixed;
  top: 60px;
  right: 0;
  background-color:rgb(243, 201, 139);
  width: 255px;
  height: 475px;

  border-radius: 15px;
  text-align: center;
  font-size: 1.2rem;
  overflow-y: scroll;
  padding:5px;
  color:white;
}


#cart-btn {
  
  position: fixed;
  top: 0;
  right: 0;
}


textarea {
  width:240px;
  height:280px;
  padding:5px;
}

.block-container{

  width:350px;
  height:530px;
  border-radius: 10px;
}


select {
  margin-top:8px;
  border:2px solid black;
  border-radius: 3px;
  width:125px;

}